@use '../abstract/_variables' as v;

@mixin reset-list(){
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    li{
        a{
            text-decoration: none;
        }
    }
}