//FONTS
$primary-font: "Poppins", sans-serif;
$title-font: "Playfair Display", serif;

//COLORS
$font-primary-color: #424241;
$font-secondary-color: rgb(#424241, .50);
$background-secondary-color: #DEDAD5;
$background-tertiary-color: rgb(#DEDAD5, 0.25);
